.sectionHeader {
    display: flex;
    flex-direction: row;
}

.sectionHeader > img {
    width: 15px;
    height: 15px;
}

.sectionHeader > h2 {
    margin-left: 8px;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    font-weight: 500;
    opacity: 0.3;
    overflow: hidden;
}

.visibilityValue {
    font-size: 43px;
    line-height: 52px;
    overflow: hidden;
}

.visibilityValue::after {
    content: ' km';
}

.info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px;
    font-size: 22px;
}