.additionalDataContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: auto;
    gap: 50px;
}

.additionalData {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
}

.additionalData > div {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(148px);
}