
.forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px;
    padding: 15px;
    border-bottom: 0.2px solid rgba(66, 66, 66, 0.1);
}

.container {
    display: flex;
    align-items: center;
}

.weatherIcon {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    text-align: center;
}

.humidityProbability {
    color: #23ABF6;
    font-size: 15px;
}

.dayOfWeek {
    display: table-cell;
    vertical-align: middle;
    width: 50px;
    height: 40px;
    font-size: 22px;
}

.line {
    width: 165px;
    height: 2px;
    margin: 0 15px;
    border: 0.2px solid #424242;
    border-radius: 44px;
    background-color: #424242;
}

.extremeTemp {
    display: flex;
    align-items: center;
    font-size: 22px;
    justify-content: right;
    text-align: right;
}

.extremeTemp > p {
    display: inline-block;
    min-width: 40px;
}

.extremeTemp > p::after {
    margin: 0;
    padding: 0;
    content: '°';
}
