.forecast {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 15px;
}

.weatherIcon {
    width: 26px;
    height: 26px;
    padding: 0;
    margin: 0;
}

.iconContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.humidityProbability {
    color: #23ABF6;
    font-size: 15px;
}