.hourlyContainer {
    display: flex;
    min-width: 600px;
    flex-direction: column;
    padding: 10px 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(148px);
    overflow: auto;
}

.sectionHeader {
    padding: 8px 8px 0 8px;
    margin-bottom: 8px;
    border-bottom: 0.2px solid rgba(55, 60, 66, 0.1)
}

.weatherSummary {
    color: #373C42;
    font-size: 18px;
    line-height: 21px;
}

.sectionBody {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}