@font-face {
  font-family: 'SF Pro Display';
  src: local('assets/fonts/SFProDisplay/SF-Pro-Display-Regular.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'SF Pro Display';
  overflow: hidden;
}

#backgroundVideo {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.videoContainer{
  object-fit: cover;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;

  background-color: gray;
}

.leftSide {
  height: auto;
  width: 70%;
  float: left;
}

.forecastSection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-bottom: 34px;
}

.dataSet {
  position: inherit;
  margin-left: 20px;
}

.rightSide {
  width: 30%;
  height: 100%;
  float: right;
  background-color: black;
}